@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker|Rock+Salt');

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
  font-family: "Gloria Hallelujah";
  width: 800px;
  margin: auto;
}

h1 {
  font-family: "Permanent Marker";
  text-align: right;
  font-size: 3em;
  margin: auto;
  margin-top: 50px;
}
