@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker|Rock+Salt');

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
  font-family: "Gloria Hallelujah";
  width: 800px;
  margin: auto;
  background: linear-gradient(#db5043, #f48042, #f4d942, #7df442, #42f4bf, #42a7f4, #8e72c1);
}

h1 {
  font-family: "Permanent Marker";
  text-align: center;
  font-size: 3em;
  margin: auto;
  margin-top: 50px;
}

.kermitgif {
  width: 100%;
}

.gif {
  width: 50%;
}

.input {
  float: right;
  text-align: right;
  margin-right: 50px;
  margin-top: 80px;
}

.doge {
  font-family: "Comic Sans MS";
  position: relative;
  margin-top: 100px;
  /*text-align: center;*/
}

.dogeline1 {
  position: absolute;
  color: magenta;
  top: 100px;
  left: 250px;
}

.dogeline2 {
  position: absolute;
  color: blue;
  top: 200px;
  left: 350px;
  font-size: 1.5em;
}

.dogeline3 {
  position: absolute;
  color: green;
  top: 250px;
  left: 100px;
  font-size: 1.3em;
}

.dogeline4 {
  position: absolute;
  color: yellow;
  top: 300px;
  left: 300px;
}

.dogeline5 {
  position: absolute;
  color: purple;
  top: 400px;
  left: 100px;
  font-size: 2em;
}

.kermit {
  font-family: "Helvetica";
  font-weight: lighter;
  position: relative;
  margin-top: 100px;
}

.teacher {
  font-family: "Impact";
  position: relative;
  text-shadow: 0 0 5px black;
  color: white;
  text-transform: uppercase;
  margin-top: 100px;
}

.teacherline1{
  position: absolute;
  left: 150px;
  font-size: 2em;
}

.teacherline2{
  position: absolute;
  top: 30px;
  left: 130px;
  font-size: 2em;
}

.teacherline3{
  position: absolute;
  top: 230px;
  font-size: 1.5em;
  width: 500px;
  left: 30px;
}

footer {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}
