@import url('https://fonts.googleapis.com/css?family=Assistant:300|Khula:300|Yantramanav:300');
* {
    box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
}

body {
    font-family: "Yantramanav", "Helvetica";
    background-color: #414042;
    width: 600px;
    margin: auto;
}

#map {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page {
  width: 1200px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50px;
  left: 50px;
}

#dot {
  position: absolute;
  top: 250px;
  left: 400px;
}

.rect {
  display: inline;
}

#legend {
  position: absolute;
  top: 550px;
  left: 50px;
}

.label {
  position: absolute;
  top: 10px;
  color: white;
  font-size: 0.7em;
}

.label2 {
  position: absolute;
  top: 10px;
  left: 130px;
  color: white;
  font-size: 0.7em;
}

.label3 {
  position: absolute;
  top: 10px;
  left: 220px;
  color: white;
  font-size: 0.7em;
}

.label4 {
  position: absolute;
  top: 10px;
  left: 330px;
  color: white;
  font-size: 0.7em;
}

.label5 {
  position: absolute;
  top: 10px;
  left: 430px;
  color: white;
  font-size: 0.7em;
}

.source {
  position: absolute;
  top: 40px;
  left: 0px;
  color: white;
  font-size: 0.7em;
}

.title {
  position: absolute;
  top: 500px;
  color: white;
  left: 50px;
}

nav {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    font-size: 1.3em;
    position: absolute;
    top: 0px;
    left: 55px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: .9em;
    background-color: darkgray;
    padding-left: 22px;
    padding-right: 20px;
}

#active {
  background-color: rgba(0, 0, 0, 0.5);
}

img {
  width: 800px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.source {
  font-size: 0.6em;
}

a {
    text-decoration: none;
    color: black;
    font-size: .9em;
}

a:hover {
    text-decoration: underline;
}

#exit {
  z-index: 5;
  color: black;
  position: absolute;
  font-size: 3em;
  top: 50px;
  left: 1200px;
  color: white;
}

#image {
  z-index: 2;
  position: absolute;
  top: 70px;
  left: 80px;
  width: 500px;
}

#text {
  position: absolute;
  color: white;
  width: 500px;
  top: 90px;
  left: 650px;
  font-size: 1.2em;
}
