@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Codystar|Monoton|Permanent+Marker|Rock+Salt');

/* CSS Document */
/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

@keyframes fade{
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 0;
  }
}

body {
  margin:0;
  padding:0;
  font-family: "Helvetica";
}

h1 {
  position: absolute;
  z-index: 2;
  text-align: center;
  font-family: "Codystar";
  margin-top: 20px;
  color: white;
  left: 40%;
  font-size: 3em;
  animation: fade;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  padding-left: 25px;
}

.status {
  text-align: center;
  font-size: 1.2em;
}

#map {
  position:absolute;
  top:0px;
  bottom:0px;
  width:100%;
  height: 100%;
}

.mapboxgl-popup {
  width: 50%;
  color: gray;
  height: 350px;
  }

.mapboxgl-popup-content {
  overflow: auto;
}

img {
  width: 70%;
  float: left;
  padding: 25px;
}

p {
  width: 90%;
  text-align: left;
  margin: auto;
  padding: 15px;
}

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:white;
  }

#menu span:hover {
  opacity: 0.5;
}

#legend a {
  color: white;
  text-decoration: none;
}

#legend a:hover {
  text-decoration: underline;
}

#legend {
  color: white;
  position: absolute;
  top: 90%;
}

#ce {
  background-color: rgb(214, 81, 81);
}

#en {
  background-color: rgb(208, 135, 57);
}

#nt {
  background-color: rgb(173, 224, 97);
}

#vu {
  background-color: rgb(235, 222, 107);
}

#lc {
  background-color: rgb(130, 138, 242);
}

footer {
  position: absolute;
}
