@import url('https://fonts.googleapis.com/css?family=Assistant:300|Khula:300|Yantramanav:300');
* {
    box-sizing: border-box;
}

body {
    font-family: "Yantramanav", "Helvetica";
    background-color: whitesmoke;
    width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.name {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Avenir";
    color: #819fdb;
}

nav {
    text-align: center;
    margin-top: 50px;
    font-size: 1.3em;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: .9em;
}

h2 {
    text-align: left;
    font-size: .9em;
    text-transform: uppercase;
    color: black;
}

article {
  margin-bottom: 60px;
}

img {
  width: 600px;
}

.source {
  font-size: 0.6em;
}

img {
  margin-top: 40px;
  margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-size: .9em;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
}

#needfinding, #brainstorm, #feedback {
  list-style-type: decimal;
  padding-left: 50px;
}

#need img {
  width: 145px;
}

li {
    text-align: left;
}

footer {
    clear: left;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    color: #605b50;
}

footer a {
    font-size: .8em;
    text-transform: uppercase;
}
