@charset "UTF-8";

/* CSS Document */
/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

#mapid {
  /*position:absolute;
  top:60px;
  bottom:0px;
  width:100%;*/
  height: 480px;
}
