@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Rubik');

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
  font-family: "Quicksand", "Avenir", sans-serif;
  background-color: #f7efb2;
  color: black;
}

.heading {
  display: none;
}

main {
  position: relative;
  width: 900px;
  /*font-size: 1.7em;
  color: black;*/
}

main img {
  position: absolute;
}

#body {
  max-width: 100%;
  margin: auto;
}

#title {
  position: absolute;
  left: 750px;
  top: 60px;
  font-size: 2em;
  font-family: "Pacifico", cursive;
}

#description {
  position: absolute;
  left: 770px;
  top: 130px;
  width: 370px;
  text-align: center;
}

#lanyard {
  top: 80px;
  left: 260px;
}

#lanyard:hover {
  width: 510px;
}

#hair {
  left: 150px;
  top: -40px;
}

#hawaii {
  right: 470px;
  top: 340px;
}

#hawaii:hover {
  width: 110px;
}

#iceland {
  right: 340px;
  top: 330px;
}

#iceland:hover {
  width:110px;
}

#clog {
  right: 458px;
  top: 363px;
}

#clog:hover {
  width: 65px;
}

#mickey {
  left: 380px;
  top: 330px;
}

#mickey:hover {
  width: 110px;
}

#italy {
  left: 430px;
  top: 372px;
}

#italy:hover {
  width: 110px;
}

h2 {
  text-align: center;
  color: black;
  position: relative;
  top: 30%;
  font-size: 1em;
}

.answer {
  width: 350px;
  height: 350px;
  border: 6px solid #679bef;
  position: absolute;
  top: 220px;
  left: 750px;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8;

  /*color: white;*/
}

.answer p {
  width: 80%;
  height: 80%;
  border-radius: 200px;
  text-align: center;
  left: 35px;
  position: relative;
  top: 40%;
  color: black;
  font-size: 0.8em;
}

.close {
  font-size: 3em;
  position: relative;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

footer {
  position: absolute;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  text-align: center;
  top: 750px;
  margin-bottom: 50px;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:hover {
  text-decoration: underline;
}

/*

section p {
  position: relative;
  top: 40%;
  text-align: center;
}

#person {
  position: absolute;
}*/
