@charset "UTF-8";

/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=BioRhyme|Black+Ops+One|Bungee|Monoton|Rubik:900');
/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
  background-color: #A12A2E;
  font-family: "Bungee";
}

h1 {
    position: absolute;
    z-index: 1;
    left: 400px;
    top: 50px;
}

main {
    position: relative;
    width: 1250px;
    /*max-width: 100%;*/
}

main img {
    position: absolute;
    top: 0px;
    left: 0px;
}

p {
    width: 8in;
    margin: 0px auto;
    text-align: center;
    display: inline-block;
    position: relative;
}

#background {
    max-width: 100%;
    margin: auto;
    top: 0;
    left: 0;
}

#film {
    /*position: absolute;
    top: 410px;
    left: 1100px;*/
    left: 87%;
    top: 410px;
}

#film2 {
    /*position: absolute;*/
  top: 500px;
  left: 1120px;
}

#film2:hover {
  width: 110px;
}

#filmTip {
  opacity: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.timer:hover {
  transform: rotate(5deg);
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#timer {
    /*position: absolute;*/
    top: 430px;
    left: 770px;
}

#timer2 {
    /*position: absolute;*/
    top: 430px;
    left: 1070px;
}

#timer3 {
    /*position: absolute;*/
    top: 430px;
    left: 500px;
}

#timer4 {
    /*position: absolute;*/
    top: 430px;
    left: 240px;
}

#picture1 {
  top: 465px;
  left: 890px;
  width: 50px;
  opacity: 0;
}

#picture2 {
  top: 465px;
  left: 630px;
  width: 50px;
  opacity: 0;
}

#final-image {
    /*position: absolute;*/
    top: 0px;
}

.hidden {
  display: none;
}

footer {
  position: absolute;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  text-align: center;
  top: 800px;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:hover {
  text-decoration: underline;
}
