@charset "UTF-8";

/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=BioRhyme|Black+Ops+One|Bungee|Monoton|Rubik:900');
/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
  background-color: #A12A2E;
  font-family: "Bungee";
}

h1 {
    position: absolute;
    z-index: 1;
    left: 400px;
    top: 50px;
}

h3 {
  position: absolute;
  z-index: 1;
  top: 90px;
  left: 300px;
  color: lightgray;
}

main {
    position: relative;
    width: 1250px;
    /*max-width: 100%;*/
}

main img {
    position: absolute;
    top: 0px;
    left: 0px;
}

p {
    width: 8in;
    margin: 0px auto;
    text-align: center;
    display: inline-block;
    position: relative;
}

h2 {
  display: none;
}

#background {
    max-width: 100%;
    margin: auto;
    top: 0;
    left: 0;
}

#film {
    /*position: absolute;
    top: 410px;
    left: 1100px;*/
    left: 87%;
    top: 410px;
}

#film2 {
    /*position: absolute;*/
  top: 500px;
  left: 1120px;
}

#film2:hover {
  width: 110px;
}

#filmTip, #countdown1Tip, #countdown2Tip,
#countdown3Tip, #countdown4Tip {
  opacity: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.timer:hover {
  transform: rotate(5deg);
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.timerwatch {
  position: absolute;
  top: 700px;
  color: gray;
}

.orange {
  left: 550px;
}

.red {
  left: 280px;
}

.pink{
  left: 10px;
}

.blue {
  left: -250px;
}

div {
  display: inline-block;
  position: relative;
}

.tip {
  position: absolute;
  padding:14px;
  font-size:10px;
  color:#222;
  background-color: rgba(255, 255, 255, 0.7);
  width: 200px;
}

.tip1 {
  top: 580px;
  left: 980px;
}

.tip2 {
  top: 350px;
  left: 980px;
}

.tip3 {
  top: 350px;
  left: 680px;
}

.tip4 {
  top: 350px;
  left: 410px;
}

.tip5 {
  top: 350px;
  left: 150px;
}

#timer {
    top: 430px;
    left: 770px;
}

#timer2 {
    top: 430px;
    left: 1070px;
    z-index: 2;
}

#timer3 {
    top: 430px;
    left: 500px;
}

#timer4 {
    top: 430px;
    left: 240px;
}

#picture1 {
  top: 465px;
  left: 890px;
  width: 50px;
  opacity: 0;
}

#picture2 {
  top: 465px;
  left: 630px;
  width: 50px;
  opacity: 0;
}

#picture3 {
  top: 460px;
  left: 370px;
  width: 50px;
  opacity: 0;
}

#picture4 {
  width: 50px;
  top: 460px;
  left: 120px;
  opacity: 0;
}

#final-image {
    top: 0px;
}

#aside {
  position: relative;
  display: block;
  left: 105%;
  width: 600px;
  /*height: 500px;*/
}

#final {
  opacity: 0;
  top: 100px;
  left: 10%;
}

#close {
  font-size: 3em;
  position: relative;
  opacity: 0;
  color: white;
}

.hidden {
  display: none;
}

footer {
  position: absolute;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  text-align: center;
  top: 800px;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:hover {
  text-decoration: underline;
}
